.green{
  background-color: #77E89C;
}


.orange{
  background-color:  #FD9B75;
 }

.yellow{
background-color:#FFFC8A;
}

.blue{
  background-color: #58C4FF;
}
.purple{
  background-color: #875DF5;
}

.red{
  background-color: #E95262;
}
